@import "./assets/Fonts/Quicksand/stylesheet.css";
@import "./assets/Fonts/AnneSignature/stylesheet.css";


:root {
    /* Couleur des textes */
    --ColorPrincipal: #DCA54A;
    --ColorSecondaire: #3a240f;
    --ColorClaire: #523711;
    --ColorPink: #ff007f;
    --ColorTexte: #3A3A3A;
    --ColorBlack: black;
    --ColorWhite: white;
    --ColorGrey: rgb(230, 230, 230);
    --ColorLink: rgb(14, 83, 193);
    --backgroundBlack: black;
    --backgroundWhite: white;
    --BackgroudMenuBurger: rgba(218, 216, 216, 0.882);

    /* Couleur des pages version 2 */
    --ColorPrimary: #6b9e8c;
    --ColorPrimaryDark: #507e6d;
    --ColorLight: #f7f9f9;
    --ColorDark: #2e2e2e;
    --TextSize: 1rem;
    --TitleSize: 1.4rem;
    --Padding: 24px;

    --ColorPrimaryA: #a09cf0;
    --ColorPrimaryADarkA: #6e6acb;
    --ColorLightA: #f9f9fb;
    --ColorDarkA: #2c2c2c;
    --TextSizeA: 1rem;
    --TitleSizeA: 1.4rem;
    --PaddingA: 24px;
    /* Autre paramètre de dépendance */
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;

    /*Couleur des textes du Footer*/
        --Copyright: #ff007f;


    /*Logique taille police d'écriture site*/
         --font-size-root: 16px; /*Ref size, dimensionne tout le site*/
         --p: var(--font-size-root); /*16px*/
         --h1: calc(var(--font-size-root) * 2); /*32px*/
         --h2: calc(var(--font-size-root) * 1.5); /*24px*/
         --h3: calc(var(--font-size-root) + 2px); /*18px*/
         --h4: var(--font-size-root); /*16px*/
         --h5: calc(var(--font-size-root) - 2px); /*14px*/
         --h6: calc(var(--font-size-root) - 5px); /*11px*/
         --h7: calc(var(--font-size-root) - 7px); /*9px*/
         --h8: calc(var(--font-size-root) - 8px); /*8px*/

    /* Liste des Z-index */
         --z-index_-2: -2; /* NavMobile.css et NavPC.css : Même logique : Background en lien avec l'opacité de l'img vague */
         --z-index_-1: -1; /* NavMobile.css et NavPC : Même logique : Img de vague transparent */
         --z-index_1: 1; /* MenuNavRoot.module.css : Button de fermeture du subMenu dans la NavPC */
         --z-index_4: 4; /* MenuNavRoot.module.css : Position du sous-menu de Portrait dans NavPC via des props */
         --z-index_5: 5; /* MenuNavRoot.module.css : Etage du sous-menu de Portrait dans NavPC via des props */
         --z-index_9: 9; /* NavMobile.css : Bouton-écran de fermeture MenuBurger div = viewport */
         --z-index_10: 10; /* NavMobile.css : Position du MenuBurger */
}

body {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}